<h1> Wiki-contacts</h1>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Phone</td>
    <td>Email</td>
    <td></td>
    <td></td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.email %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Delete', contact, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add contact', new_contact_path, :class => 'btn btn-primary' %></p>