<%= flash[:notice] %>
<%= flash[:alert] %>

<h1>New contact</h1>

<% if @contact.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>